# Connect to Supabase with PgBouncer.
DATABASE_URL="postgres://johndoe:randompassword@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://johndoe:randompassword@db.project_name.supabase.co:5432/postgres"
GITHUB_CLIENT_ID="clientid"
GITHUB_CLIENT_SECRET="clientsecret"
